<main class="container-fluid p-3">
  <div
    class="upload-section d-flex align-items-center justify-content-center"
    [ngClass]="{
      shrink: images.length > 0
    }"
  >
    <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm)">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="pdf"
      />
      <button class="btn">Upload</button>
    </form>
  </div>

  <div class="result-section row g-0">
    <div class="col-12 col-lg-2 px-3" *ngFor="let image of images">
      <img style="width: 100%" src="data:image/png;base64,{{ image }}" />
    </div>
  </div>
</main>
